/*selector
                1. element selector
font-family: 'Bree Serif', serif;
font-family: 'Catamaran', sans-serif;
*/
body {
    font-family: 'Catamaran', sans-serif;
    background: url("/img/kagit.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

th {
    font-family: 'Bree Serif', serif;
}

table {
    background: url("/img/altigen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    border: 2px solid tomato;
}

td, th {
    border: 1px solid rgba(120,60,44,0.4);
    padding: 5px;
    transition: all .4s ease-in;
}

h2 {
    color: crimson;
    font-family: 'Bree Serif', serif;
    font-style: oblique;
}

div h2 {
    color: darkslateblue;
}
@keyframes meksika {
    0% {
        transform: scale(1.1) rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: translate(50px) rotate(270deg);
    }
    100% {
        transform: scale(0.7) translate(-50px) rotate(360deg);
    }
}

.kart {
    background-color: burlywood;
    border: 2px solid teal;
    margin: 10px 5px;
    padding-left: 10px;
    transition: all .5s ease-out;
    border-radius: 20px 0 20px 0;
    width: 200px;
    height: 150px;
    float: left;
    animation-name: meksika;
    animation-duration: 4s;
    animation-delay: 2s;
}

    .kart:hover {
        background-color: teal;
        border: 2px solid burlywood;
        border-radius: 0 20px 0 20px;
        /*transform: rotate(-360deg) scale(1.1) translateX(20px);*/
        box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    }

#tanitimdiv {
    float: none;
    background-color: lightblue;
    width: 420px;
    height: 100px;
}

    #tanitimdiv:hover {
        background-color: lightsalmon;
    }

td:hover {
    background-color: deepskyblue;
    color: beige;
}

.metin {
    border: 2px solid #000;
    width: auto;
    height: auto;
    max-height: 400px;
    min-height: 200px;
}
